*{
    margin: 0px;
    padding: 0px;
}
html,body{
    scroll-behavior: smooth;
}
body{
    background: url('back.jpg');
    background-size: cover;
    background-attachment: fixed;
}
.main{
    display: flex;
    justify-content: space-between;
}
.logo{
    font-size: 60px;
    font-family:'Times New Roman', Times, serif;
    margin-left: 100px;
    background: -webkit-linear-gradient(#250be9, #d009de);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.list{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.list li{
    margin: 30px;
}
.list li a:hover{
    box-sizing: border-box;
    background: -webkit-linear-gradient(#250be9, #d009de);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 21px;
    border-bottom: white;
}
.list a{
    text-decoration: none;
    color:white;
    font-size: 22px;
}
.body{
    width:600px;
    margin-left: auto;
    margin-right: auto;
   
    
}
#first{
     padding: 10px;
}
#divison
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10vh;
}
.text
{
    width: 40vw;
    margin:24vh 0vw 0vh 5vw;
}
.one
{
    font-size: 60px;
    font-weight: bolder;
    font-family:'Times New Roman', Times, serif;
    background-image: linear-gradient(to right,rgb(255, 0, 242),rgb(23, 27, 214));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.two
{
    background-image: linear-gradient(to right,rgb(32, 9, 245),rgb(236, 12, 169));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.three
{
    font-size: 30px;
    color: white;
    width: 50vw;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 2vh;    
}
.profile
{
    margin: 5vw;
    margin-top: 15vh;
}
.profile img
{
    border-radius: 50%;
    width: 22vw;
    margin:0vh 5vh 0vh 5vh;
    border: 5px solid white;
}
#second{
    margin-bottom: 20px;
}
h2{
    font-size: 85px;
    background: -webkit-linear-gradient(#b709ce, #3f19eb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    text-align: center;
    font-size: 30px;

}
.next{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.next img{
    width: 200px;
    margin: 50px;
    text-align: center;
    display: block;
    height: 200px;
    cursor: pointer;
    transition: 400ms;
    border-radius: 10px;
    box-sizing: border-box;
}
.next img:hover{
    transform: scale(1.03);
}
.para{
    text-align: center;
    margin: 26px;
    color: white;
    font-size: 25px;
}
h3{
    font-size:100px;
    background: -webkit-linear-gradient(#b709ce, #3f19eb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    text-align: center;
    font-size: 30px;
}
#third{
    margin-bottom: 30px;
}
.course{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.certificate{
    width: 40vw;
    height:30vw;
    border-radius: 10px;
    box-sizing: border-box;
    border: 0px;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    padding-top: 15px;
}
.certificate:active{
    opacity: 0.3;
}
h4{
    text-align: center;
    font-size:30px;
    padding: 18px;
    background: -webkit-linear-gradient(#b709ce, #3f19eb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    font-family: 'Times New Roman', Times, serif;
}
.contact{
    text-align: justify;
    font-size: 30px;
    padding: 30px;
    color: white;
}
#fourth
{
    margin: 6vh 6vh 0vh 0vh;
    
    
}
#fourth,.contact
{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 10px;
    font-weight: bolder;
}
.icon
{
    width: 3vw;
    margin: 3px;

}





